
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 20px;
}

h2{
    font-family:'Radio Canada Big';
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 33px;
}

h3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

b{
    font-family:'Radio Canada Big';
    font-weight: 800;
    letter-spacing: 0px;
}

p{
    font-family:'Radio Canada Big';
    font-size: 15px;

}

hr{
    width: 70%;
}

header{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.menu{
    height: 70px;
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 4px;
    padding-top: 3px;
    position: fixed;
    background-color: white;
}

.menuboton{
    
    padding-right: 15px;
    padding-top: 1px;
    width: 340px;
    display: flex;
    justify-content: space-between;
}

a{
    font-family:'Radio Canada Big';
    text-decoration: none;
    font-weight: 600;
    color: rgb(54, 54, 54);
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.heroflex{
    height: 520px;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-right: 10px;
}

.heroimg{
    border-radius: 20px;
    padding-left: 20px;
}

.herotext{
    font-weight: 400;
    font-size: 34px;
    padding-left: 22px;
}

.hero2t{
    font-weight: 400;
    font-size: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    letter-spacing: 0px;
}

.and{
    padding: 0px 25px;
}

.im{
    color:#a2a2a2;
    letter-spacing: 0px;
    padding-left: 0px;
}

.align{
    display: flex;
}

button{
    border: none;
    font-family:'Radio Canada Big';
    font-size: 15px;
    font-weight: 450;
    padding: 10px 30px;
    background-color: #c4c4c4;
    border-radius: 5px;
}

.speciality{
    width: 90%;
    padding-left: 33px;
    padding-bottom: 120px;

}

.spcont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spboxes{
    width: 270px;
    padding-right: 10px;
}

.title{
    padding: 50px 0px;
}

.skills{
    width: 90%;
    padding-left: 33px;
    padding-bottom: 120px;
}

.skillrow1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
}


.skillbox{
    width: 350px;
    height: 360px;
    background-color:#a2a2a2;
    border-radius: 20px;
}

.skillboxcontent{
    display: flex;
    text-align: start;
    flex-direction: column;
    padding:0px 30px;

}

.skillsadd{
    display: flex;
    flex-direction: row;
    padding-top: 120px;
}

.portfolio{
    width: 90%;
    padding-left: 33px;
    padding-bottom: 120px;
    text-align: center;
}

.portfoliorow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-right: 30px;
}

.portfolioimg{
    width: 380px;
    height: 280px;
    border-radius: 20px;
}

.portfoliobutton{
    font-family:"Radio Canada Big";
    font-size: 30px;
    font-weight: 800;
    color: white;
    background-color: #a2a2a2;
    width: 320px;
    height: 70px;
}

.about{
    width: 90%;
    padding-left: 33px;
    padding-bottom: 120px;
}

.aboutbox1{
    padding: 0px 90px;
}
.aboutbox2{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 30px;
    padding-left: 80px;
}

.abouttext{
    font-size: 20px;
}